---
layout: default
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}">
    <meta itemprop="name" content="{{ site.title }}">
    <meta name="twitter:title" content="{{ site.title }}">

    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.image }}" />
    <meta property="twitter:image" content="{{{ site.url }}{{ site.baseurl }}{{ site.image }}" />
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ site.description }}">
    <meta name="description" content="{{ site.description }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta name="twitter:description" content="{{ site.description }}">

    {% if site.redirect_to %}
      <link rel="canonical" href="{{ site.redirect_to }}">
      <script>location="{{ site.redirect_to }}"</script>
      <meta http-equiv="refresh" content="0; url={{ site.redirect_to }}">
    {% endif %}
  </head>
  <body>
    {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
  </body>
</html>

